name: test_app

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    
    container: nathanesau/github_actions:qt-static

    steps:
    - uses: actions/checkout@v2
    - name: Running Tests
      run: apt-get update && apt-get -y install libgtest-dev && ls && cd ${GITHUB_WORKSPACE}/app/cpp && mkdir build && cd build && cmake .. && make && test/tests
